.form-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  box-shadow: none;
  justify-content: space-between;
  margin: 20px 20px;
  outline: none;
}
input {
  box-shadow: none;
}
.button {
  width: 30%;
  align-self: center;
  background-color: blue;
  color: white;
  text-transform: uppercase;
  margin: 20px 20px;
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}
